* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-image: url(https://static.standard.co.uk/2023/03/22/09/newFile-5.jpg?trim=0,709,0,180&quality=75&auto=webp&width=960);
    backdrop-filter: blur(8px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
h1 {
    font-size: 80px;
}
.cal-box {
    width: 380px;
    height: 300px;
    background-color: #03958a;
    border: solid 15px white;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.bill-input {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 310px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    border: 0;
}
.select-procent {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    position: absolute;
    top: 105px;
}
.procent {
    width: 70px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    border: 0;
}
.reset {
    width: 310px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    border: 0;
    position: absolute;
    top: 220px;
    left: 20px;
}
.bill {
    top: 5px;
}
.select-tip {
    top: 65px;
}
.position {
    position: absolute;
    left: 20px;
}
.total {
    top: 180px;
}

h1 {
    color: white;
}
img {
    width: 30px;
    height: 27px;
    position: absolute;
    top: 41px;
    left: 280px;
    z-index: 10;
    border-radius: 10px;
}